body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

@media (min-width: 1750px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1700px !important;
  }
}

.app-container {
  height: calc(100vh - 65px);
  .header-container {
    .btn-login {
      border-radius: 5px;
      margin-right: 15px;
      border: 1px solid #686868;
      padding: 0 15px;
      height: 40px;
    }

    .btn-signup {
      border-radius: 5px;
      padding: 0 15px;
      background: #303030;
      color: white;
      height: 40px;

      &:hover {
        background: black;
      }
    }

    .navbar {
      padding-top: 20px;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0) !important;

      .nav-link {
        &.active {
          color: #00bfff;
        }
      }
    }
  }
  .homepage-container {
    video {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; /* Đảm bảo video lấp đầy toàn bộ màn hình mà không bị méo */
    }

    .homepage-content {
      padding: 180px;
      width: 50%;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .title-1 {
        font-size: 50px !important;
        font-weight: 600;
      }

      .title-2 {
        font-size: 25px !important;
      }

      .title-3 {
        button {
          border-radius: 5px;
          padding: 0 15px;
          background: #303030;
          color: white;
          height: 40px;
          border: none;

          &:hover {
            background: black;
          }
        }
      }
    }
  }
}

// .homepage-container video {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   object-fit: cover; /* Đảm bảo video lấp đầy toàn bộ màn hình mà không bị méo */
// }
